<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php" executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" colors="true"
    testdox="true" cacheResult="true" cacheDirectory=".phpunit.cache" requireCoverageMetadata="true">
    <php>
        <env name="DB_USER" value="root" />
        <env name="DB_PASSWORD" value="root" />
        <env name="DUMPER_TEST_DATABASE" value="db_service_unit_test_db" />
    </php>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <clover outputFile=".var/cache/phpunit/cov.xml" />
            <text outputFile="php://stdout" />
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
